@import "variables.scss";

body {
    font-family: 'Scada', sans-serif;
    box-sizing: border-box;
    color: #282828;
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
@import "components/btn.scss";
@import "components/form.scss";

.main-title {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;

}