@import "variables.scss";

body {
    font-family: 'Scada', sans-serif;
    box-sizing: border-box;
    color: #282828;
    * {
        box-sizing: border-box;
    }
}
#app {
    margin-top: 25vh;
}
// .container {
    // width: 100%;
    // max-width: 550px;
    // margin: 0 auto;
    // padding: 0 25px;
// }
@import "tools/bootstrap-grid.scss";
@import "components/btn.scss";
@import "components/form.scss";
@import "components/list.scss";
@import "components/swal.scss";

.main-title {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
}
.adding-box {
    opacity: 0;
    margin-top: 40px;
    margin-bottom: 32px;
    text-align: center;
    transition: 0.5s;
    pointer-events: none;
    &.show {
        opacity: 1;
        pointer-events: all;
    }
    &__line {
        display: flex;
    }
}
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #D2D1D1;
}