body {
    font-family: 'Scada', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #1B84BF;
    box-shadow: -2px 0px 3px rgba(40, 40, 40, 0.18);
    transition: 0.5s;
}
.btn-add svg {
    width: 14px;
    height: 14px;
    stroke: #282828;
    transition: 0.5s;
}
.btn-add:hover {
    cursor: pointer;
    background: #1B84BF;
}
.btn-add:hover svg {
    stroke: #fff;
}

input {
    font-size: 14px;
    line-height: 1;
    padding: 10px 17px 10px;
    color: #282828;
    border: 1px solid #D2D1D1;
    box-sizing: border-box;
    border-radius: 3px;
}
input::placeholder {
    color: #D2D1D1;

}