input {
  font-size: 14px;
  line-height: 1;
  padding: 10px 17px 10px;
  color: #282828;
  border: 1px solid #D2D1D1;
  box-sizing: border-box;
  border-radius: 3px;
  min-width: 268px;
  outline: none;
  &::placeholder {
    color: #D2D1D1;
  }
}

